<template>
    <require from="converter/date"></require>
    <div class="mdl-card mdl-shadow--4dp">

        <div class=" mdl-card__title ">
            <h2 class="mdl-card__title-text ">${_document.title}</h2>
        </div>
        <div class="mdl-card__supporting-text ">
            <span> Last modified: ${_document.lastModified | date}</span>
        </div>
        <div class="mdl-card__actions mdl-card--border ">
            <button class="mdl-button mdl-js-button mdl-button--icon ${(_document.offline)? 'mdl-button--colored' : ''}" click.trigger="serveDocumentOffline()">
                <i class="material-icons">offline_pin</i>
            </button>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="${'/#/view/doc/' + _document.id}">edit</a>
        </div>
        <div class="mdl-card__menu">
            <button id="${'menu-' + _document.id}" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul data-mdl-for="${'menu-' + _document.id}" for="${'menu-' + _document.id}" class="mdl-menu mdl-js-menu mdl-menu--bottom-right">
                <li class="mdl-menu__item">Remove</li>
            </ul>
        </div>
    </div>
</template>