<template>
    <div class="mdl-card mdl-shadow--4dp">

        <div class=" mdl-card__title ">
            <h2 class="mdl-card__title-text ">${docInfo.title}</h2>
        </div>
        <div class="mdl-card__supporting-text ">
            ${docInfo.title}
        </div>
        <div class="mdl-card__actions mdl-card--border ">
            <button class="mdl-button mdl-js-button mdl-button--icon btn-fav">
                <i class="material-icons">save</i>
            </button>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="${'/#/view/doc/' + docInfo.id}">edit</a>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">remove</a>
        </div>

    </div>
</template>