@import "../common/colors";
.view-edit
{
    display: flex;
    padding: 0 48px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    .view-edit__content
    {
        margin: 36px auto;
        padding: 0px 0px 36px 0px;
        background-color: white;

        .view-edit__header
        {
            padding: 16px 48px;
            border-bottom: 1px solid $border-color;
            text-align: center;

            .view-edit__header_docname
            {
                display: inline;
                margin-right: -32px;
                &:hover
                {
                    .view-edit__header-rename
                    {
                        visibility: visible;
                    }
                }

                .view-edit__header-rename
                {
                    visibility: hidden;
                }
            }
        }

        .view-edit__editor
        {
            .editor-toolbar
            {
                border: none;
                opacity: 1;
                text-align: center;
                border-bottom: 1px solid $border-color;
                color: #757575 !important;

                &.fixed-top
                {
                    position: fixed;
                    top: 64px;
                    width: 100%;
                    width: inherit;
                    z-index: 10;
                    background: white;
                    padding: 0;
                }
                &:hover
                {
                    opacity: 1;
                }

                a
                {
                    border: none;
                    &:focus
                    {
                        outline: none;
                    }
                    &:hover
                    {
                        border: none;
                    }
                }

                .separator
                {
                    font-size: 35px;
                }
            }

            .CodeMirror
            {
                border: none;
                margin: 16px 36px;
            }
        }
    }
    @media(min-width: 1281px)
    {
        .view-edit__content
        {
            width: 1280px;
        }
    }
    @media(max-width: 1280px)
    {
        .view-edit__content
        {
            width: 768px;
        }
    }
}
