<template>
    <div class="view-edit">
        <div class="view-edit__content md-card mdl-shadow--2dp">

            <textarea id="md-editor"></textarea>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" if.bind="!editMode" id="view-edit__edit-btn"
            click.delegate="switchToEditMode()">
            <i class="material-icons">edit</i>
            </button>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect" if.bind="editMode" id="view_edit__preview-btn"
                click.delegate="switchToPreviewMode()">
                <i class="material-icons">find_in_page</i>
                </button>
    </div>
</template>