@import "../definitions/colors.scss";

.btn-fav
{
    i
    {
        color: $btn-fav-disabled;
    }
}

.btn-create
{
    position: fixed;
    bottom: 16px;
    right: 16px;
}

#view-edit__edit-btn, #view_edit__preview-btn
{
    position: fixed;
    bottom: 16px;
    right: 32px;
}
