@import "colors.scss";

body
{
    .mdl-card__title
    {
        height: 130px;
        background-color: $primary-color;
        color:white;
    }

    .mdl-card__actions
    {
        display: flex;
    }

    .mdl-grid
    {
        max-width: 1024px;

        .mdl-card
        {
            width: 100%;
        }
    }
}