@import "colors.scss";

body
{
    .mdl-card__title
    {
        height: 130px;
        background-color: $primary-color;
        color:white;
    }

    .mdl-card__actions
    {
        display: flex;
    }

    .view-all
    {
        max-width: 1024px;

        .mdl-card
        {
            width: 100%;
        }
    }

    .view-edit
    {
            max-width: 768px;
            margin: 48px auto;
            padding: 16px 48px;
    

        .view-edit__border
        {
            border-top: 1px solid rgba(0,0,0,.1);
        }
    }
}