@import "colors.scss";

body
{
    .mdl-card__title
    {
        height: 130px;
        background-color: $primary-color;
        color:white;
    }

    .mdl-card__actions
    {
        display: flex;
    }

    .view-all
    {
        max-width: 1024px;

        .mdl-card
        {
            width: 100%;
        }
    }

    .view-edit
    {
        max-width: 768px;
        margin: 48px auto;
        
        .edit-toolbar
        {
            display: flex;
            padding: 0px 48px;
            background-color: white;

            .button-bar, .document-title
            {
                margin: 16px 0px;
            }

            &.fixed-top
            {
                position: fixed;
                top: 60px;
                width: 100%;
                max-width: 768px;
            }
        }

        .view-edit__border
        {
            border-top: 1px solid rgba(0,0,0,.1);
        }

        .view-edit__preview
        {
            padding: 16px 48px;
        }
    }
}